In [17]:
import pandas as pd
path = "/Users/aarogyagyawali/Desktop"

In [18]:
df = pd.read_csv('California_Houses.csv')

In [19]:
print(df.info)

<bound method DataFrame.info of        Median_House_Value  Median_Income  Median_Age  Tot_Rooms  Tot_Bedrooms  \
0                452600.0         8.3252          41        880           129
1                358500.0         8.3014          21       7099          1106
2                352100.0         7.2574          52       1467           190
3                341300.0         5.6431          52       1274           235
4                342200.0         3.8462          52       1627           280
...                   ...            ...         ...        ...           ...
20635             78100.0         1.5603          25       1665           374
20636             77100.0         2.5568          18        697           150
20637             92300.0         1.7000          17       2254           485
20638             84700.0         1.8672          18       1860           409
20639             89400.0         2.3886          16       2785           616

       Population  Households  Latitude  Longitude  Distance_to_coast  \
0             322         126     37.88    -122.23        9263.040773
1            2401        1138     37.86    -122.22       10225.733070
2             496         177     37.85    -122.24        8259.085109
3             558         219     37.85    -122.25        7768.086571
4             565         259     37.85    -122.25        7768.086571
...           ...         ...       ...        ...                ...
20635         845         330     39.48    -121.09      162031.481100
20636         356         114     39.49    -121.21      160445.433500
20637        1007         433     39.43    -121.22      153754.341200
20638         741         349     39.43    -121.32      152005.022200
20639        1387         530     39.37    -121.24      146866.196900

       Distance_to_LA  Distance_to_SanDiego  Distance_to_SanJose  \
0         556529.1583           735501.8070          67432.51700
1         554279.8501           733236.8844          65049.90857
2         554610.7171           733525.6829          64867.28983
3         555194.2661           734095.2907          65287.13841
4         555194.2661           734095.2907          65287.13841
...               ...                   ...                  ...
20635     654530.1863           830631.5430         248510.05820
20636     659747.0684           836245.9152         246849.88890
20637     654042.2140           830699.5732         240172.22050
20638     657698.0077           834672.4619         238193.86590
20639     648723.3371           825569.1790         233282.76910

       Distance_to_SanFrancisco
0                   21250.21377
1                   20880.60040
2                   18811.48745
3                   18031.04757
4                   18031.04757
...                         ...
20635              222619.89040
20636              218314.42460
20637              212097.93620
20638              207923.19920
20639              205473.37660

[20640 rows x 14 columns]>

In [20]:
print(df.head())

   Median_House_Value  Median_Income  Median_Age  Tot_Rooms  Tot_Bedrooms  \
0            452600.0         8.3252          41        880           129
1            358500.0         8.3014          21       7099          1106
2            352100.0         7.2574          52       1467           190
3            341300.0         5.6431          52       1274           235
4            342200.0         3.8462          52       1627           280

   Population  Households  Latitude  Longitude  Distance_to_coast  \
0         322         126     37.88    -122.23        9263.040773
1        2401        1138     37.86    -122.22       10225.733070
2         496         177     37.85    -122.24        8259.085109
3         558         219     37.85    -122.25        7768.086571
4         565         259     37.85    -122.25        7768.086571

   Distance_to_LA  Distance_to_SanDiego  Distance_to_SanJose  \
0     556529.1583           735501.8070          67432.51700
1     554279.8501           733236.8844          65049.90857
2     554610.7171           733525.6829          64867.28983
3     555194.2661           734095.2907          65287.13841
4     555194.2661           734095.2907          65287.13841

   Distance_to_SanFrancisco
0               21250.21377
1               20880.60040
2               18811.48745
3               18031.04757
4               18031.04757

In [21]:
header = df.columns.tolist()
print(header)

['Median_House_Value', 'Median_Income', 'Median_Age', 'Tot_Rooms', 'Tot_Bedrooms', 'Population', 'Households', 'Latitude', 'Longitude', 'Distance_to_coast', 'Distance_to_LA', 'Distance_to_SanDiego', 'Distance_to_SanJose', 'Distance_to_SanFrancisco']

In [22]:
print(df.describe())

       Median_House_Value  Median_Income    Median_Age     Tot_Rooms  \
count        20640.000000   20640.000000  20640.000000  20640.000000
mean        206855.816909       3.870671     28.639486   2635.763081
std         115395.615874       1.899822     12.585558   2181.615252
min          14999.000000       0.499900      1.000000      2.000000
25%         119600.000000       2.563400     18.000000   1447.750000
50%         179700.000000       3.534800     29.000000   2127.000000
75%         264725.000000       4.743250     37.000000   3148.000000
max         500001.000000      15.000100     52.000000  39320.000000

       Tot_Bedrooms    Population    Households      Latitude     Longitude  \
count  20640.000000  20640.000000  20640.000000  20640.000000  20640.000000
mean     537.898014   1425.476744    499.539680     35.631861   -119.569704
std      421.247906   1132.462122    382.329753      2.135952      2.003532
min        1.000000      3.000000      1.000000     32.540000   -124.350000
25%      295.000000    787.000000    280.000000     33.930000   -121.800000
50%      435.000000   1166.000000    409.000000     34.260000   -118.490000
75%      647.000000   1725.000000    605.000000     37.710000   -118.010000
max     6445.000000  35682.000000   6082.000000     41.950000   -114.310000

       Distance_to_coast  Distance_to_LA  Distance_to_SanDiego  \
count       20640.000000    2.064000e+04          2.064000e+04
mean        40509.264883    2.694220e+05          3.981649e+05
std         49140.039160    2.477324e+05          2.894006e+05
min           120.676447    4.205891e+02          4.849180e+02
25%          9079.756762    3.211125e+04          1.594264e+05
50%         20522.019100    1.736675e+05          2.147398e+05
75%         49830.414478    5.271562e+05          7.057954e+05
max        333804.686400    1.018260e+06          1.196919e+06

       Distance_to_SanJose  Distance_to_SanFrancisco
count         20640.000000              20640.000000
mean         349187.551219             386688.422291
std          217149.875026             250122.192316
min             569.448118                456.141313
25%          113119.928650             117395.477500
50%          459758.877000             526546.661700
75%          516946.491000             584552.007950
max          836762.678200             903627.663300

In [23]:
print(df.dtypes)

Median_House_Value          float64
Median_Income               float64
Median_Age                    int64
Tot_Rooms                     int64
Tot_Bedrooms                  int64
Population                    int64
Households                    int64
Latitude                    float64
Longitude                   float64
Distance_to_coast           float64
Distance_to_LA              float64
Distance_to_SanDiego        float64
Distance_to_SanJose         float64
Distance_to_SanFrancisco    float64
dtype: object

In [24]:
# Handling missing values
df.dropna(inplace=True)  # Drop rows with missing values

In [25]:
print(df.shape)

(20640, 14)